

#chapter_1
{
    color: rgb(141, 143, 46);
}
.text-start
{
    background: rgba(54, 79, 208, 0.32);
    display: inline-block;
    border-radius: 20px;
    color: rgb(96, 96, 110);
}
body
{
    background-image: url("./image/img.jpg");
}
.text-tatooine
{
    background: rgb(208, 218, 123);
    color: rgb(96, 96, 110);
    display: inline-block;
    border-radius: 20px;
    width: 48%;
}
.tatooine
{
    width: 48%;
}
h2
{
    color: rgb(96, 96, 110);;
}

span
{
    font-family:"Lato-BlackItalic", sans-serif;
    url("./style/Lato-BlackItalic.ttf");
}

.tatooine1
{
    width: 890px;
    width: 789px;
    text-align: center;
}
.start
{
    text-align: center;
}
span
{
    line-height: 1.5em;
}
.text-start
{

    font-family:"Lato-BlackItalic", sans-serif;
    url("./style/Lato-BlackItalic.ttf");
}
div
{
    font-family:"Lato-BlackItalic", sans-serif;
    url("./style/Lato-BlackItalic.ttf");
}
.cloud-city
{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: slategray;
    background: aqua;
    border-radius: 20px;
}
.cloud-city2
{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: slategray;
    background: aqua;
    border-radius: 20px;
}
.chapter2
{
    text-align: center;
}
.image-cloud-city
{
    text-align: left;
}
.cloudCityImage
{
    width: 1000px;
    width: 789px;
}
.image-cloud-city
{
    display: block;
    margin-right:1000px;
    max-width: border-box;
}